* {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    cursor: pointer;
}

.gallery {
    margin: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: calc((100% - 48px) / 3);
}